<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="IrisconfigDashboard.ZPM">
    <Module>
      <Name>IrisconfigDashboard</Name>
      <Version>0.1.0</Version>
      <Description>IrisconfigDashboard</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <Resource Name="IrisconfigDashboard.PKG"/>
      <LifecycleClass>%IPM.Lifecycle.Module</LifecycleClass>
    </Module>
  </Document>
</Export>